<div class="grid">
    <div>
        <ul>
            <!-- Icons Links -->
            <li>
                <strong>deno.land.lume</strong>
            </li>
            <li>
                An open-source blog for tech and JavaScript enthusiasts
            </li>
            <li>
                <strong>Licensing</strong>
            </li>
            <li>
                <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" title="License for Posts">Posts: <strong>CC BY-SA 4.0</strong></a>
            </li>
            <li>
                <a href="https://opensource.org/licenses/MIT" target="_blank" title="License for Code">Site: <strong>MIT</strong></a></a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <!-- Icons Links -->
            <li>
            <i class="fas fa-globe me-2"></i> Web: <a href="https://www.zhihu.com/people/taoli2017" title="Website"><strong>知乎</strong></a>
            </li>
            <li>
            <i class="fab fa-github me-2"></i> GitHub: <a href="https://github.com/itbj" title="Taoza at GitHub"><strong>Taoza</strong></a>
            </li>

            <li>
                <i class="fas fa-envelope me-2"></i> Mail: <strong>itbj00(at)163(dot)com</strong>
            </li>
            <li>
            <i class="fab fa-weibo me-2"></i> Weibo: <a href="https://weibo.com/u/1401760347" title="Taoza at Weibo"><strong>微博</strong></a>
            </li>
        </ul>
    </div>
</div>