<nav>
  <ul>
    <li>
      <a class="navbar-brand" href="/">
        Taoza's Blog
      </a>
    </li>
  </ul>
  <ul>
    <li><span id="theme-switcher"><i id="theme-icon" class="fas fa-moon"></i></span></li>
    <li><a class="link-secondary" href="https://www.zhihu.com/people/taoli2017" title="Website"><i class="fas fa-globe me-2"></i></a></li>
  
    <li><a class="link-secondary" href="https://github.com/itbj" title="Taoza at GitHub"><i class="fab fa-github me-2"></i></a></li>

  </ul>      
</nav>
