<!--Recommended posts -->
<nav>
    <h4>Popular Posts</h4>
    <ul>
        <li>
            <a href="https://www.freecodecamp.org/news/how-to-create-a-static-blog-with-lume/">Lume SSG Handbook – How to Create a Static Blog with Lume</a>
        </li>
        <li>
            <a href="https://hexagon.56k.guru/posts/dual-mode-cross-runtime-packages/">How to Create a Dual-Mode Cross-Runtime JavaScript Package</a>
        </li>

        <li>
            <a href="https://hexagon.56k.guru/posts/getting-started-with-deno/">Getting Started with Deno: A Secure Runtime for JavaScript and TypeScript</a>
        </li>
        <li>
            <a href="https://hexagon.56k.guru/posts/running-deno-application-at-boot/">Autostarting And Monitoring Deno Applications And Services</a>
        </li>
        <li>
            <a href="https://simpleicons.org/">Simple Icons</a>
        </li>
        <li>
            <a href="https://go.itab.link/">iTab</a>
        </li>

    </ul>
    <h4>Latest Posts</h4>
    <ul>
    {% for subpost in search.pages("standalone", "date=desc") %}
        <li>
            <a class="{% if subpost.data.url == url %}link-secondary{% endif %}" href="{{ subpost.data.url }}">{{ subpost.data.title_short or subpost.data.title }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>